<div class="bg-white">
    <div class="container py-8 lg:py-14">
        <div class="flex flex-col lg:flex-row gap-4 lg:gap-8 items-center">
            <div class="flex flex-col lg:w-1/2">
                <p class="mb-2 uppercase text-xs tracking-[0.1em]"> <span class="text-picton-blue-500">/</span> Our Services</p>
                <h2 class="heading-2 text-4xl lg:text-6xl">
                    Discover Our Market Research Expertise in the Indonesian Market
                </h2>
            </div>
            <p class="text-base lg:text-xl lg:w-1/2">
                At Eurogroup Consulting, we excel in offering market research, strategy development, and consulting services customized for the distinctive requirements of the Indonesian market. Our areas of expertise encompass performance evaluation, project management, engineering consultancy, and market feasibility studies. 
            </p>
        </div>
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4 lg:gap-6 mt-8">
            {% for slug, service in services %}
                <a href="/services/{{ slug }}" class="relative aspect-video lg:aspect-square flex items-center justify-center bg-black group overflow-hidden p-4 lg:p-6 rounded" aria-label="{{ service.name }}">
                    <h3 class="relative text-white z-10 text-center text-2xl font-heading !leading-tight duration-500"> {{ service.name }} </h3>
                    <img src="{{ asset(service.image) }}" alt="" loading="lazy" decoding="async" fetchpriority="auto" width="800" height="1109" class="absolute opacity-50 group-hover:opacity-75 inset-0 w-full h-full object-cover group-hover:scale-105 duration-300 ease-out"> 
                </a>
            {% endfor %}
        </div>
    </div>
</div>