{% extends 'admin.html.twig' %}

{% block javascripts %}
    {% block importmap %}{{ importmap(['admin', 'meta_section_list']) }}{% endblock %}
{% endblock %}

{% block pagetitle %}
    Meta Section List
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <table class="table" id="meta_section_table">
                <thead class="thead-light">
                    <tr>
                        <th>Page</th>
                        <th>Meta Title</th>
                        <th>Meta Description</th>
                        <th class="wd-150"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="modalMetaSection" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5" aria-hidden="true">
      <form id="formMetaSection" class="modal-dialog modal-dialog-centered modal-xl" role="document" action="">
        <div class="modal-content tx-14">
          <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLabel5">Meta Section Form</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <label for="name" class="d-block">Page</label>
                <input id="page_type" type="text" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label for="name" class="d-block">Meta Title</label>
                <input id="meta_title" type="text" class="form-control" placeholder="" name="metaTitle" required>
            </div>
            <div class="form-group">
                <label for="name" class="d-block">Meta Description</label>
                <input id="meta_description" type="text" class="form-control" placeholder="" name="metaDescription" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-secondary tx-13" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary tx-13">Submit</button>
          </div>
        </div>
      </form>
    </div>
{% endblock %}