/* ############### PLUGINS STYLES ############### */
/* ###### 4.1 Datatables ###### */
table.dataTable {
    border: 1px solid rgba(72, 94, 144, 0.16); }
    table.dataTable.no-footer {
      border-bottom-color: rgba(72, 94, 144, 0.16); }
    table.dataTable thead th,
    table.dataTable thead td {
      border-top-width: 0;
      border-bottom-width: 0;
      padding: 8px 10px;
      font-weight: 500;
      font-size: inherit; }
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc {
      background-image: none;
      background-color: #eceff3;
      position: relative; }
      table.dataTable thead .sorting_asc::after,
      table.dataTable thead .sorting_desc::after {
        font-family: 'remixicon';
        font-size: 14px;
        position: absolute;
        line-height: 0;
        top: 50%;
        right: 10px; }
    table.dataTable thead .sorting_asc::after {
      content: '\EA78'; }
    table.dataTable thead .sorting_desc::after {
      content: '\EA4E'; }
    table.dataTable thead .sorting {
      background-image: none;
      position: relative; }
      table.dataTable thead .sorting::before, table.dataTable thead .sorting::after {
        font-family: 'remixicon';
        font-size: 14px;
        position: absolute;
        line-height: 0;
        right: 10px; }
      table.dataTable thead .sorting::before {
        content: '\EA78';
        top: 40%; }
      table.dataTable thead .sorting::after {
        content: '\EA4E';
        top: 60%; }
    table.dataTable tbody td.sorting_1 {
      background-color: #f3f4f7; }
    table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before {
      top: 9.5px;
      left: 7px;
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-width: 0;
      box-shadow: none;
      background-color: #cdd4e0;
      font-size: 14px;
      font-weight: 700;
      color: #97a3b9; }
    table.dataTable > tbody > tr.child ul.dtr-details {
      display: block; }
    table.dataTable > tbody > tr.child span.dtr-title {
      font-weight: 500; }
  
  .dataTables_wrapper .dataTables_length {
    text-align: left; }
    @media (min-width: 576px) {
      .dataTables_wrapper .dataTables_length {
        float: left; } }
    .dataTables_wrapper .dataTables_length label {
      display: block;
      margin-bottom: 15px; }
    .dataTables_wrapper .dataTables_length .select2-container--default {
      margin-right: 5px; }
      .dataTables_wrapper .dataTables_length .select2-container--default .select2-selection--single {
        height: 32px;
        border-color: rgba(72, 94, 144, 0.16);
        border-radius: 0.25rem; }
        .dataTables_wrapper .dataTables_length .select2-container--default .select2-selection--single .select2-selection__rendered {
          line-height: 32px; }
        .dataTables_wrapper .dataTables_length .select2-container--default .select2-selection--single .select2-selection__arrow {
          height: 30px; }
          .dataTables_wrapper .dataTables_length .select2-container--default .select2-selection--single .select2-selection__arrow b {
            border-top-color: #97a3b9; }
  
  .dataTables_wrapper .dataTables_filter {
    text-align: left; }
    @media (min-width: 576px) {
      .dataTables_wrapper .dataTables_filter {
        float: right;
        margin-top: 0; } }
    .dataTables_wrapper .dataTables_filter label {
      display: block;
      margin-bottom: 15px; }
    .dataTables_wrapper .dataTables_filter input {
      margin-left: 0;
      border: 1px solid rgba(72, 94, 144, 0.16);
      padding: 5px 10px;
      line-height: 1.539;
      color: #001737;
      border-radius: 0.25rem;
      width: 100%; }
      @media (min-width: 576px) {
        .dataTables_wrapper .dataTables_filter input {
          width: auto; } }
      .dataTables_wrapper .dataTables_filter input::placeholder {
        color: #97a3b9; }
  
  .dataTables_wrapper .dataTables_info {
    margin-top: 15px;
    padding: 5px 0;
    text-align: left; }
    @media (min-width: 576px) {
      .dataTables_wrapper .dataTables_info {
        float: left; } }
  
  .dataTables_wrapper .dataTables_paginate {
    padding-top: 0;
    margin-top: 15px;
    text-align: left; }
    @media (min-width: 576px) {
      .dataTables_wrapper .dataTables_paginate {
        float: right; } }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
      background-color: #e3e7ed;
      padding: 5px 10px;
      margin: 0;
      border: 0;
      border-radius: 1px;
      transition: all 0.2s ease-in-out; }
      @media (prefers-reduced-motion: reduce) {
        .dataTables_wrapper .dataTables_paginate .paginate_button {
          transition: none; } }
      .dataTables_wrapper .dataTables_paginate .paginate_button + .paginate_button {
        margin-left: 3px; }
      .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:focus {
        background-color: #eceff3;
        color: #b4bdce !important; }
      .dataTables_wrapper .dataTables_paginate .paginate_button.previous {
        margin-right: 3px; }
      .dataTables_wrapper .dataTables_paginate .paginate_button.next {
        margin-left: 3px; }
      .dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:focus {
        border: 0;
        background-image: none;
        background-color: #b4bdce;
        color: #001737 !important; }
      .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.current:focus {
        border: 0;
        background-image: none;
        background-color: #0168fa;
        color: #fff !important; }