/* ###### 4.10 Select2 ###### */
.select2-results__option {
    border-radius: 0;
    margin-bottom: 1px;
    font-size: inherit; }
  
  .select2-container--default .select2-selection--single {
    background-color: #fff;
    border-color: #c0ccda;
    border-radius: 0.25rem;
    height: 38px;
    outline: none; }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      color: #001737;
      line-height: calc(1.5em + 0.9375rem + 2px)-0.1rem;
      padding-left: 0.625rem;
      height: 100%;
      display: flex;
      align-items: center; }
    .select2-container--default .select2-selection--single .select2-selection__placeholder {
      color: #677793; }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
      width: 30px;
      height: 38px;
      line-height: calc(1.5em + 0.9375rem + 2px); }
      .select2-container--default .select2-selection--single .select2-selection__arrow b {
        margin-top: -3px; }
    .select2-container--default .select2-selection--single .select2-selection__clear {
      font-size: 20px;
      font-weight: 400;
      order: 2;
      margin-left: auto;
      margin-right: 5px;
      color: #8392a5;
      position: relative;
      z-index: 100; }
      .select2-container--default .select2-selection--single .select2-selection__clear:hover {
        color: #1b2e4b; }
  
  .select2-container--default .select2-selection--multiple {
    background-color: #fff;
    border-color: #c0ccda;
    border-radius: 0.25rem;
    min-height: 38px;
    outline: none; }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
      padding: 0 4px;
      display: block; }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
      position: relative;
      margin-top: 4px;
      margin-right: 4px;
      padding: 3px 10px 3px 20px;
      border-color: transparent;
      border-radius: 0.1875rem;
      background-color: #0168fa;
      color: #fff;
      font-size: 13px;
      line-height: 1.45; }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
      color: #fff;
      opacity: .5;
      font-size: 14px;
      font-weight: 400;
      display: inline-block;
      position: absolute;
      top: 4px;
      left: 7px;
      line-height: 1.2; }
  
  .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #c0ccda; }
  
  .select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #c0ccda;
    border-radius: 0;
    padding: 5px 10px; }
    .select2-container--default .select2-search--dropdown .select2-search__field::placeholder {
      color: #8392a5; }
  
  .select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: white; }
  
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #0168fa; }
  
  .select2-container--default .select2-results > .select2-results__options {
    margin: 4px; }
  
  .select2-container--default .select2-search--inline .select2-search__field {
    margin-top: 6px;
    line-height: 26px;
    padding-left: 10px;
    opacity: 1; }
    .select2-container--default .select2-search--inline .select2-search__field::placeholder {
      color: #8392a5;
      font-weight: 400;
      opacity: 1; }
  
  .select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #f5f6fa; }
  
  .select2-container--default.select2-container--disabled .select2-selection__choice {
    padding-left: 10px;
    background-color: #97a3b9; }
    .select2-container--default.select2-container--disabled .select2-selection__choice .select2-selection__choice__remove {
      display: none; }
  
  .select2-container--open {
    font-size: 14px; }
    .select2-container--open .select2-selection--single,
    .select2-container--open .select2-selection--multiple {
      background-color: #fff;
      border-color: #c0ccda; }
    .select2-container--open .select2-dropdown--above {
      border-top-left-radius: 0;
      border-top-right-radius: 0; }
    .select2-container--open .select2-dropdown--below {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      top: 0; }
  
  .select2-dropdown {
    border-color: #c0ccda;
    z-index: 200; }
  
  .select2-search--dropdown {
    padding-bottom: 0; }
  
  .select2-results__option {
    padding: 6px 10px;
    font-size: inherit; }
  
  .has-success .select2-container--default .select2-selection--single {
    border-color: theme-color("success"); }
  
  .has-warning .select2-container--default .select2-selection--single {
    border-color: theme-color("warning"); }
  
  .has-danger .select2-container--default .select2-selection--single {
    border-color: theme-color("danger"); }
  
  .select2-xs + .select2-container {
    font-size: 12px; }
  
  .select2-dropdown-xs .select2-results__option {
    font-size: 12px; }
  
  .select2-sm + .select2-container {
    font-size: 14px; }
  
  .select2-dropdown-sm .select2-results__option {
    font-size: 14px; }
  
  .select2-bd-0 + .select2-container--default .select2-selection--single {
    border-width: 0; }
  
  .bg-gray + .select2-container--default .select2-selection--single {
    background-color: #455473; }
    .bg-gray + .select2-container--default .select2-selection--single .select2-selection__rendered {
      color: #cdd4e0; }