<section id="cta">
    <div class="container py-8 lg:py-14">
    <div class="relative flex items-center justify-center bg-big-stone-950 group/box overflow-hidden p-4 lg:p-6 rounded-sm w-full" aria-label="Market Research">
        <div class="relative z-10 flex flex-col items-center gap-4 py-8 lg:py-14 max-w-3xl mx-auto">
            <h2 class="heading-2 text-4xl lg:text-5xl text-white text-center">
                {{'Unlock the potential of your business in dynamic markets with our
                expert consulting services.'}}
            </h2>
            <p class="text-white text-center">
                {{'With over 40 years of excellence, we deliver innovative solutions
                tailored to your needs.'}}
            </p>
            <a href="#contact-us" class="group inline-flex items-center justify-center whitespace-nowrap rounded-md font-medium ring-offset-white transition-colors focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-picton-blue-500 text-white text-sm gap-3 hover:bg-picton-blue-500/80 w-max">
            {{'Contact Us Today'}}
            {{ ux_icon('lucide:arrow-right', {'class': 'size-4 group-hover:translate-x-1 duration-200 ease-out'}) }}
            </a> 
        </div>
        <img src="/_astro/bg-cta-codioful-formerly-gradienta-bKESVqfxass-unsplash.C6xFUudi_Z11TFs.webp" alt="Download Whitepaper" loading="lazy" decoding="async" fetchpriority="auto" width="7200" height="4800" class="absolute opacity-50 group-hover/box:opacity-40 inset-0 w-full h-full object-cover group-hover/box:scale-105 duration-300 ease-out"> 
    </div>
    </div>
</section>